* {
  box-sizing: border-box;
  flex: 1 0 auto;
  -webkit-print-color-adjust: exact;
}

html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $regular-font;
  font-size: 1.6rem;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
}

.Root {
  height: 100%;
}
